[Desktop Entry]
Name=Setzer
Exec=setzer
Type=Application
Icon=/app/share/icons/hicolor/scalable/apps/org.cvfosammmm.Setzer.svg
Categories=GNOME;GTK;Science;
