/* The main accent color and the matching text value */
@define-color accent_bg_color #3584e4;
@define-color accent_fg_color white;
@define-color accent_color #1c71d8;

/* destructive-action buttons */
@define-color destructive_bg_color #e01b24;
@define-color destructive_fg_color white;
@define-color destructive_color #c01c28;

/* Levelbars, entries, labels and infobars. These don't need text colors */
@define-color success_bg_color #2ec27e;
@define-color success_fg_color white;
@define-color success_color #1b8553;

@define-color warning_bg_color #e5a50a;
@define-color warning_fg_color rgba(0, 0, 0, 0.8);
@define-color warning_color #9c6e03;

@define-color error_bg_color #e01b24;
@define-color error_fg_color white;
@define-color error_color #c01c28;

/* Window */
@define-color window_bg_color #fafafa;
@define-color window_fg_color rgba(0, 0, 0, 0.8);

/* Views - e.g. text view or tree view */
@define-color view_bg_color #ffffff;
@define-color view_fg_color rgba(0, 0, 0, 1);
@define-color view_hover_color rgba(0, 0, 0, 0.07);
@define-color view_active_color rgba(0, 0, 0, 0.16);

/* Header bar, search bar, tab bar */
@define-color headerbar_bg_color #ebebeb;
@define-color headerbar_fg_color rgba(0, 0, 0, 0.8);
@define-color headerbar_border_color rgba(0, 0, 0, 0.8);
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.12);
@define-color headerbar_darker_shade_color rgba(0, 0, 0, 0.12);
@define-color headerbar_button_active_color rgba(0, 0, 0, 0.24);

/* Split pane views */
@define-color sidebar_bg_color #ebebeb;
@define-color sidebar_fg_color rgba(0, 0, 0, 0.8);
@define-color sidebar_backdrop_color #f2f2f2;
@define-color sidebar_shade_color rgba(0, 0, 0, 0.07);

@define-color secondary_sidebar_bg_color #f3f3f3;
@define-color secondary_sidebar_fg_color rgba(0, 0, 0, 0.8);
@define-color secondary_sidebar_backdrop_color #f6f6f6;
@define-color secondary_sidebar_shade_color rgba(0, 0, 0, 0.07);

/* Cards, boxed lists */
@define-color card_bg_color #ffffff;
@define-color card_fg_color rgba(0, 0, 0, 0.8);
@define-color card_shade_color rgba(0, 0, 0, 0.07);

/* Dialogs */
@define-color dialog_bg_color #fafafa;
@define-color dialog_fg_color rgba(0, 0, 0, 0.8);

/* Popovers */
@define-color popover_bg_color @dialog_bg_color;
@define-color popover_fg_color rgba(0, 0, 0, 0.8);
@define-color popover_shade_color rgba(0, 0, 0, 0.07);

/* Thumbnails */
@define-color thumbnail_bg_color #ffffff;
@define-color thumbnail_fg_color rgba(0, 0, 0, 0.8);

/* Miscellaneous */
@define-color shade_color rgba(0, 0, 0, 0.07);
@define-color scrollbar_outline_color white;

/* Setzer-Specific */
@define-color code_folding_hover #c7c7c7;
@define-color fg_color_light mix(@view_fg_color, transparent, 0.5);
@define-color lighter_border mix(@borders, transparent, 0.2);
@define-color highlight_tag_preview rgba(250, 240, 107, 0.6);
@define-color highlight_tag_textview rgba(250, 240, 107, 0.65);
@define-color ac_text #000000;
@define-color ac_bg #fff895;
@define-color ac_selection_bg #f8e45c;
@define-color line_highlighting_color #eef4ff;
@define-color description_color mix(@view_fg_color, transparent, 0.3);
@define-color blank_preview_color mix(@window_bg_color, @view_bg_color, 0.5);
@define-color menu_shortcut_color mix(@view_fg_color, transparent, 0.4);
@define-color list_row_border_color mix(@borders, transparent, 0.68);
@define-color button_active_color mix(@borders, transparent, 0.55);
@define-color location_label_color mix(@view_fg_color, transparent, 0.4);
@define-color link_color @accent_color;
@define-color link_color_active black;
@define-color link_color_visited mix(@accent_color, transparent, 0.8);
@define-color list_selection_color mix(@accent_bg_color, @view_bg_color, 0.75);
@define-color list_selection_hover_color mix(@accent_bg_color, @view_bg_color, 0.68);
