[Desktop Entry]
Name=Setzer
Exec=setzer
Type=Application
Icon=org.cvfosammmm.Setzer
Categories=GNOME;GTK;Science;Office;
Keywords=latex;bibtex;editor;
MimeType=text/x-tex;text/x-bibtex;
